.fatfooter {
  @extend %clearfix;
  overflow: hidden;
  padding-bottom: 1em;
  margin: 2em auto 0 auto;
  background: #c6bfc5;
  position: relative;
  @include screen('mobile') {
    display: none;
  }
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 120px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
  }
  .container {
    overflow: hidden;
    box-sizing: border-box;
    @include gutter;
  }
  // 按鈕
  .btn-fatfooter {
    font-size: 0.813em;
    display: block;
    min-width: 6em;
    margin: 1em auto;
    color: #fff;
    border: none;
    position: relative;
    z-index: 90;
    text-indent: -9999px;
    background: transparent;
    border-radius: 0;
    &:before {
      content: '';
      position: absolute;
      width: 20px;
      height: 20px;
      border: 2px solid #453142;
      border-left: none;
      border-bottom: none;
      transform: rotate(-45deg);
      left: calc(50% - 10px);
      top: 10px;
      transition: 0.3s ease-out;
    }
    &:hover,
    &:focus {
      color: #fff;
      text-decoration: none;
      cursor: pointer;
      border: none !important;
      box-shadow: none;
      outline: none;
      border: none;
      cursor: pointer;
      background: transparent;
    }
    &.close {
      &:before {
        transform: rotate(135deg) !important;
        top: 5px;
      }
    }
  }
  nav {
    overflow: hidden;
    display: block;
    position: relative;
    padding: 1em 4em;
    box-sizing: border-box;
    @include screen('tablet') {
      padding: 1em 0;
    }
    > ul {
      > li {
        margin-bottom: 1em;
      }
    }
    ul {
      display: flex;
      flex-wrap: wrap;
      @include li-reset;

      li {
        flex: 0 1 25%;
        box-sizing: border-box;

        a {
          line-height: 1.5;
          display: block;
          font-weight: bold;
          padding: 0.5em 0px;
          box-sizing: border-box;
          color: #453142;
          &:hover {
            box-shadow: none;
          }
        }
        ul {
          // display: flex;
          // flex-direction:column;
          // flex-wrap:wrap;
          display: block;
          margin: 0;
          padding: 0 1em 0 0;
          @include screen('mobile') {
            width: auto;
          }
          li {
            // flex: 0 0 100%;

            a {
              display: block;
              font-weight: normal;
              text-align: left;
              font-size: 0.938em;
              line-height: 1.5em;
              padding: 0.5em 0;
              background: none;
            }
          }
          //第三層關閉
          ul {
            display: none;
          }
        }
      }
    }
  }
}
