footer {
  box-sizing: border-box;
  @include clearfix;
  text-align: left;
  font-size: 0.875rem;
  padding: 1em 0;
  background: #efefef;
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    > div {
      padding-bottom: 1em;
    }

    @include screen('tablet') {
      flex-wrap: wrap;
    }
  }

  .footer_info {
    flex: 1 1 auto;
    padding-top: 0.5rem;
    a {
      color: $color-word;
      text-decoration: underline;
      &:hover,
      &:focus {
        color: $aHover;
      }
    }
    .compus {
      @include li-reset;
    }
    li {
      position: relative;
      margin-bottom: 0.5rem;
      padding-left: 2rem;
      &::before {
        content: '';
        position: absolute;
        left: 8px;
        top: 5px;
        width: 16px;
        height: 16px;
        background: url(../images/icon_location.svg) center no-repeat;
        background-size: contain;
      }
    }
  }
  .counter {
    flex: 0 0 20%;
    display: block;
    text-align: center;
    padding: 0.8em 2em;
    background-color: #fff;
    color: $secondaryColor;
    @include screen('tablet') {
      flex-basis: auto;
    }
    em {
      font-style: normal;
    }
  }
}
