.lp {
  table {
    td {
      a {
        @include aSetting_nocolor;
      }
      &.date {
        text-align: center;
        color: #666;
        @include screen('mobile') {
          text-align: left;
        }
      }
      &.num {
        text-align: center;
        color: #666;
        @include screen('mobile') {
          text-align: left;
        }
      }
    }
  }
  .list {
    & > ul,
    ol {
      list-style-type: none;
      padding: 0;
      border-top: 2px solid $primaryColor;
      & > li {
        padding: 1em 0;
        border-bottom: 1px solid #ddd;
        position: relative; // outline: 1px solid blue;
        .tag {
          margin-left: 2em;
        }
        & > a {
          display: block;
          padding-left: 2em;
          position: relative;
          line-height: 1.45em;
          color: $color-word;
          &:hover {
            color: $aHover;
          }
          .num {
            width: 1.5em;
            text-align: right;
            position: absolute;
            top: 0;
            left: 0;
            &:after {
              content: '.';
              display: inline-block;
            }
          }
        }
        span.dept {
          display: inline-block;
          font-size: 0.938em;
          @include screen('mobile') {
            display: block;
          }
        }
        time {
          display: block;
          color: #aaa;
          font-size: 0.938em;
        }
      }
    }
  }
}

//圖片列表頁
.album {
  margin: 2em auto;

  > ul {
    @include li-reset;
    display: flex;
    flex-wrap: wrap;
    margin: 0 -1em;

    > li {
      flex-basis: 33.33333%;
      overflow: visible;
      margin-bottom: 2em;

      @include screen('tablet') {
        flex-basis: 50%;
      }

      @include screen('xs_mobile') {
        flex-basis: 100%;
      }

      a {
        display: block;
        margin: 0 1em;
        height: 100%;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 5px 8px 0px;
        &:hover {
          box-shadow: rgba(99, 99, 99, 0.2) 0px 5px 15px 0px;
          .img-container {
            img {
              transform: scale(1.05);
            }
          }
          .albumTitle {
            color: $aHover;
          }
        }
      }
      .img-container {
        &:after {
          content: '';
          display: block;
          position: absolute;
          left: 0;
          bottom: 0;
          width: 100%;
          height: 50px;
          background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
        }

        img {
          object-fit: cover;
          transition: 0.3s;
        }
      }

      .caption {
        width: 90%;
        margin: 0 auto;
        padding-bottom: 1em;
        position: relative;

        .picture_detial {
          color: #fff;
          position: absolute;
          top: -38px;
          left: 0;
          width: 100%;
          font-size: 0.938em;
          display: flex;
          justify-content: space-between;
          i {
            margin-right: 0.5em;
          }
        }
        time {
          display: block;
          font-size: 0.938em;
          color: lighten($color-word, 20);
          margin: 0.5em 0;
        }

        .albumTitle {
          color: $primaryColor;
          margin: 0.5em 0;
          font-size: 1.25em;
          font-weight: bold;
        }
      }
    }
  }
}

.dataInfo {
  margin-bottom: 2em;
  ul {
    @include li-reset;
    display: flex;
    flex-wrap: wrap;
    margin: 0 -5px;
  }
  li {
    flex-basis: calc(20% - 10px);
    min-width: calc(20% - 10px);
    min-height: 110px;

    margin: 5px;
    @include screen('tablet') {
      flex-basis: calc(25% - 10px);
      min-width: calc(25% - 10px);
    }
    @include screen('mobile') {
      flex-basis: calc(33.33333% - 10px);
      min-width: calc(33.33333% - 10px);
    }
    @include screen('mobile') {
      flex-basis: calc(50% - 10px);
      min-width: calc(50% - 10px);
    }
    a {
      display: block;
      width: 100%;
      height: 100%;
      background-color: $color-lightgray;
      border-radius: 4px;
      padding: 0.5em 1em;
      transition: 0.3s;
      &:hover {
        box-shadow: rgba(0, 0, 0, 0.1) 0 2px 5px;
        .amount {
          color: $aHover;
        }
      }
    }
  }
  .subTitle {
    color: $color-word;
    display: block;
    text-align: center;
    padding: 0.5em;
    border-bottom: 1px solid mix($primaryColor, #fff, 50%);
  }
  .amount {
    display: block;
    text-align: center;
    padding: 0.5em;
    font-size: 1.375em;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: $aColor;
  }
}

//活動列表頁
.activities_list {
  ul {
    display: flex;
    flex-wrap: wrap;
    @include li-reset;

    li {
      flex-basis: 50%;
      max-width: 50%;
      margin: 0 0 30px 0;
      @include gutter(30px);
      @include screen('mobile') {
        flex-basis: 100%;
        max-width: 100%;
        @include gutter(0);
      }
    }
  }

  .thumbnail {
    position: relative;
    width: 100%;

    &:hover {
      img {
        transform: scale(1);
      }
    }

    .library_tag {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 10;
      padding: 0.5em 1em;
      color: #fff;
      background: $secondaryColor;
    }

    .img-container {
      @include aspect-ratio(2, 1);
      background: #000;

      img {
        object-fit: cover;
      }
    }

    .caption {
      width: 100%;
      overflow: hidden;
      padding: 0.5em 120px 1em 1em;

      @include screen('mobile') {
        padding: 0.5em 1em 1em;
      }

      h2,
      h3,
      h4 {
        margin-bottom: 0.5em;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      .time {
        word-wrap: word-break;
        font-size: 0.938em;

        time {
          font-size: 1em;
          padding-right: 0.2em;
          display: inline-block;
        }

        span {
          @include screen('xs_mobile') {
            display: block;
          }
        }
      }

      ul {
        @include screen('mobile') {
          padding-right: 120px;
        }

        li {
          width: 100%;
          padding: 0;
          float: none;
          margin: 0;
        }
      }

      .status {
        position: absolute;
        width: 100px;
        height: 80px;
        right: 1em;
        bottom: 1em;
        background: #f1f1f1;
        padding: 0.5em;
        color: $color-word;
        text-align: center;

        &.register {
          color: $primaryColor;
        }

        &.full {
          color: lighten($color-word, 10);
        }

        span {
          display: block;
          padding: 0.2em;
          font-size: 0.938em;
        }

        .people {
          font-size: 1.125em;
          font-weight: bold;
          font-family: Georgia;
        }
      }
    }
  }
}
