.thumbnailGrp {
  display: flex;
  flex-wrap: wrap;
  margin: 2em -1em;
  .thumbnail {
    flex-basis: 25%;
    overflow: visible;
    margin-bottom: 2em;
    @include screen('tablet') {
      flex-basis: 50%;
    }
    @include screen('xs_mobile') {
      flex-basis: 100%;
    }
    a {
      margin: 0 1em;
    }
  }
}

.thumbnail {
  width: 100%;
  //overflow: hidden;
  transition: all 0.3s ease;
  border-radius: 4px;
  &:hover {
    transform: scale(1.01);
  }

  a {
    display: block;
    border-radius: 4px;
    @include aSetting(#555);
    position: relative;
    overflow: hidden;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 5px 8px 0px;
    &:hover {
      box-shadow: rgba(99, 99, 99, 0.2) 0px 5px 15px 0px;
    }
    &:focus {
      &:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
        box-shadow: 0px 0px 0px 1px $aHover inset;
      }
    }
  }
  .img-container {
    aspect-ratio: 16/9;
    border-radius: 0;

    margin-bottom: 0.5em;
    img {
      object-fit: cover;
    }
  }
  h2,
  h3,
  h4 {
    margin: 0.2em 0;
    line-height: 1.5;
  }
  h3 {
    font-size: 1.375em;
  }
  .caption {
    width: 90%;
    margin: 0 auto;
    padding-bottom: 0.5rem;
    p {
      margin: 0.5em 0 0 0;
      color: #726a6a;
      display: -webkit-box;
      -webkit-line-clamp: 5;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      max-height: 145px;
      line-height: 1.8;
    }
    time {
      font-size: 0.875em;
      color: #726a6a;
    }
  }
  .btn_grp {
    padding: 0.2em 0;
    @extend %clearfix;
  }
  hr {
    width: 90%;
    margin: 0.1em auto 1em;
  }
}
