.breadcrumb {
  border-bottom: 1px solid #eee;
  padding: 0.1em 0em 0.1em;
  font-size: 0.875rem;
  margin: 0px auto 5px;
  @include screen('mobile') {
    max-width: calc(100% - 60px);
    margin: 0 0 5px 0;
  }
  ul {
    @include li-reset;
    li {
      display: inline-block;
      margin: 0px 0.1em 0.1em 0px;
      &:before {
        @extend %slash;
      }
      &:first-child:before {
        content: '';
        display: inline-block;
        color: #666;
        margin-left: 0;
        padding: 0;
      }
    }
  }
  a {
    @include aSetting_nocolor;
  }
}
