* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: url(../images/bg.jpg);
  &.noscroll {
    position: static !important;
    width: 100%;
    height: 100%;
    overflow: hidden !important;
    overflow-y: hidden !important;
    margin: 0;
    padding: 0;
  }
}

// 最外圍預設為100%
.wrapper {
  position: relative;
  width: $container-max;
  max-width: 100%;
  margin: 0px auto;
  background: #fff;
  box-shadow: rgba(191, 164, 156, 0.35) 0 0 50px 15px;
  overflow: hidden;
  @include screen('mobile') {
    overflow-y: auto;
  }
}

// 整體共用container樣式，請注意首頁切版頁面的整齊
.container {
  padding: 0 90px;
  margin: 0 auto;
  max-width: $container-max; //請看_variable.scss
  @include screen('tablet') {
    padding: 0 15px;
  }
}

.main {
  position: relative;
  margin: 0 auto;
  // 可先設定一個中央區塊最大寬，限制accesskey對齊
  h2 {
    line-height: 1.25em;
  }
  > section {
    position: relative;
    margin-top: 2em;
    @include screen('mobile') {
      &:first-of-type {
        margin-top: 0;
      }
    }
    > .container {
      z-index: 1;
    }
  }
  &.mp {
    > section {
      &:nth-of-type(1) {
        &::before {
          content: '';
          position: absolute;
          right: 0;
          bottom: -90px;
          width: 268px;
          height: 342px;
          background: url(../images/bg_02.svg) right top no-repeat;
          background-size: contain;
        }
        &::after {
          content: '';
          position: absolute;
          right: -120px;
          top: 42%;
          width: 184px;
          height: 184px;
          background: url(../images/bg_01.svg) center no-repeat;
          background-size: contain;
        }
      }
      &:nth-of-type(2) {
        &::before {
          content: '';
          position: absolute;
          left: 0;
          top: -145px;
          width: 276px;
          height: 276px;
          background: url(../images/bg_03.svg) left top no-repeat;
          background-size: contain;
        }
      }
      &:nth-of-type(4) {
        &::before {
          content: '';
          position: absolute;
          left: 0;
          bottom: -330px;
          width: 410px;
          height: 410px;
          background: url(../images/bg_04.svg) left bottom no-repeat;
          background-size: contain;
        }
      }
    }
    .events {
      &::after {
        content: '';
        position: absolute;
        right: 30px;
        top: -80px;
        width: 162px;
        height: 162px;
        background: url(../images/bg_01.svg) center no-repeat;
        background-size: contain;
      }
    }
    .branchInfo {
      &::after {
        content: '';
        position: absolute;
        right: 78px;
        top: -32px;
        width: 284px;
        height: 284px;
        background: url(../images/bg_03.svg) center no-repeat;
        background-size: contain;
        transform: scaleX(-1);
      }
    }
  }
}

////////////////////////////////////////////////////////////
// 為了與首頁區隔，請在內頁加上innerpage ClassName
.innerpage {
  > .container {
    @include gutter(); //gutter 代表左右要留白
    display: flex;
  }
  .center_block {
    flex: none;
    flex-basis: 100%;
    max-width: 100%;
  }
  .left_block {
    flex: none;
    flex-basis: 260px;
    max-width: 260px;
    margin-right: 40px;
    &.hidden {
      + .center_block {
        flex: none;
        flex-basis: 100%;
        max-width: 100%;
      }
    }
    + .center_block {
      flex: auto;
      flex-basis: calc(100% - 300px);
      max-width: calc(100% - 300px);
    }
    @include screen('tablet') {
      display: none;
      + .center_block {
        flex: none;
        flex-basis: 100%;
        max-width: 100%;
      }
    }
  }
  &.small_size {
    font-size: 0.938em;
  }
  &.large_size {
    font-size: 1.125em;
  }
}

.title_typeA,
.title_typeB {
  display: flex;
  align-items: center;
  font-size: 2.375rem;
  color: $primaryColor;
  margin-bottom: 0.8em;

  img {
    display: block;
    margin-right: 8px;
    height: 1em;
    width: auto;
  }
}
.title_typeA {
  margin-left: 2rem;
  @include screen('mobile') {
    justify-content: center;
    margin-left: 0;
  }
}
.title_typeB {
  justify-content: center;
  img {
    height: 0.9em;
  }
}

.hidden {
  display: none;
}
